html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000;
    color: rgb(255, 255, 255);
}

main{
    max-width: 960px;
    min-width: 480px;
    margin: auto;
}

p{
    text-align: justify;
    font-family: Calibri,Arial, Helvetica, sans-serif;
}
.vissza{
    text-align: right;
}
.pkozepre{
    text-align: center;
}

img{
    margin: 0px 10px;
}

figure{
    text-align: center;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: black;
}
.img-balra{
    float: left;
}
.img-jobbra{
    float: right;
}

figure img{
    border: inset silver 10px;
}
.clear{
    clear: both;
}