body{
    font-family: sans-serif;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: lightblue;
    margin: auto;
}
.img-fig{
    max-width: 505px;
    margin: auto;
    text-align: center;
}
img{
    width: 100%;
}
#elsoh1{
    width: 100%;
    border: solid rgb(46, 46, 46) 5px;
    color: white;
    background-color: rgb(46, 46, 46);
    font-size: 28px;
}
#elsoh2{
    width: 100%;
    border: solid rgb(46, 46, 46) 5px;
    color: white;
    background-color: rgb(46, 46, 46);
}
.zona-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.zona-container>div{
    padding: .5rem;
    margin: 2px;
}

#konnyu{
    background-color: rgb(78, 147, 252);
    padding: .5rem;
    color: white;
}
#kkozepes{
    background-color: rgb(240, 163, 21);
    padding: .5rem;
}
#kozepes{
    background-color: rgb(40, 146, 40);
    padding: .5rem;
}
#eros{
    background-color: red;
    padding: .5rem;
    color: white;
}
#neros{
    background-color: rgb(192, 21, 21);
    padding: .5rem;
    color: white;
}

@media (max-width: 576px) {
    .zona-container>div{
        flex-basis: 100%;
    }
    .zona-container{
        flex-direction: column;
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    .zona-container>div{
        flex-basis: 45%;
    }
}
@media (min-width: 992px) {
    .zona-container>div{
        flex-basis: 22%;
    }
}