body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#title{
    font-size: 38px;
    text-align: center;
    margin: 20px;
}
header{
    justify-content: center;
    align-items: center;
}
.data{
    display: flex;
    justify-content: space-evenly;
}
.data ul{
    font-size: 30px;
    margin: 10px;
    list-style: disc;
}
ul>li{
    font-size: 20px;
    margin-top: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: Arial, sans-serif;
    border: 5px white solid;
    border-radius: 50%;
    padding: 10px;
    width: 130px;
    height: 130px;
}
#schoolName{
    list-style: none;
    font-size: 25px;
}
.container_2{
    /* background-color: aqua; */
    display: flex;
    max-height: min-content;
    justify-content: space-between;
    margin: 3rem;
}
.left{
    font-size: 30px;
    max-width: 50%;
    margin: 30px;
}
.right{
    max-width: 50%;
}

.show-btn{
    border: inset 5px white;
    padding: 0.3rem;
    background-color: black;
    font-size: 24px;
    color: white;
    margin: 20px;
}
.img{
    width: 50%;
    border: 0.5rem white inset;
    /* padding: 0.2rem; */
}
